---
---

$font-stack: 'Open Sans', 'Apple Color Emoji', Sans-Serif;
$primary-color: #333;
$break-small: 320px;
$break-large: 1200px;
$break-medium: 840px;
$break-small: 600px;

html, body,
blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html {
  font-kerning: none;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-stack;
  color: #000;
  //letter-spacing: -0.037em;
  font-size: 1.25rem;
  line-height: 1.5;
  font-feature-settings:"kern" 1;
  font-kerning: normal;

  @media screen and (max-width: $break-small) {
    font-size: 1rem;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  font-weight: 700;
}

.home_container {
  position: relative;
  max-width: $break-large;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $break-small) {
    padding-bottom: 50px;
  }

}

.nav_container {
  width:100%;
  display: block;
  height:auto;
  overflow: auto;
  padding-bottom:15px;

  a.nav-left {
    display: block;
    float: left;
    /* width: 100%; */
    height: 46px;
    margin-top: 20px;
    margin-left: 25px;

    img {
      height: 44px;
      float: left;
    }

    h2 {
      float: left;
      font-size: 16px;
      font-weight: 600;
      color: #666;
      margin-top: 10px;
      margin-left: 20px;

    }
  }

  a.nav-left:hover {

    h2 {
      border-bottom: 2px solid #ccc;
    }
  }

}

.content_container {
  position: relative;
  max-width: 800px;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;

  @media screen and (max-width: $break-small) {
    //padding:20px;
    margin-top:10px;
  }

  h1 {
    font-size:42px;
    margin-top:-10px;
    margin-bottom:-10px;
    letter-spacing: -0.03em;

    @media screen and (max-width: $break-medium) {
      font-size: 32px;
    }
  }


}

.text_container {

  @media screen and (max-width: $break-medium) {
    padding:20px;
    margin-top: -20px;
    padding-bottom: 0;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom:18px;
    letter-spacing: -0.03em;

    @media screen and (max-width: $break-small) {
      margin-bottom: 15px;
    }
  }

  h4 {
    margin-bottom:-20px;

    @media screen and (max-width: $break-small) {
      margin-bottom: -15px;
    }
  }

  h5 {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: -20px;
  }

  img {
    display: block;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 3vw;
    margin-bottom:3vw;
    border-radius: 10px;

    @media screen and (max-width: $break-small) {
      width:100%;
    }
  }

  a {
    color: #C82828;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    margin-top:20px;
    margin-bottom: 20px;
  }

  .flex_container {
      display: flex;
      flex-flow: row wrap;
      margin: -20px;

      @media screen and (max-width: $break-medium) {
        margin:-10px;
      }

      @media screen and (max-width: $break-small) {
        flex-flow: column wrap;
        margin:0;
      }

      .two-third {
        flex: 1 1 57.146%;
        margin:20px;

        @media screen and (max-width: $break-medium) {
          margin:10px;
        }

        @media screen and (max-width: $break-small) {
          margin:0;
          margin-bottom:-15px;
        }
      }

      .one-third {
        flex: 1 1 33.333%;
        margin:20px;

        @media screen and (max-width: $break-medium) {
          margin:10px;
        }

        @media screen and (max-width: $break-small) {
          margin:0;
          margin-bottom:7px;
        }

        img {
          position: relative;
          width: 100%;
          top:7px;
          margin:0;
          @media screen and (max-width: $break-small) {
            top:0;
          }
        }

      }

  }

  .logo_container {
    display: flex;
    flex-flow: row wrap;
    margin: -20px;
    margin-top:-10px;
    margin-bottom:20px;
    justify-content: center;

    @media screen and (max-width: $break-medium) {
      margin:-10px;
      margin-bottom:20px;
    }

    img {
      flex: 1;
      width: calc(100%/8);
      height:100%;
      margin:20px;
      border-radius: 100%;
      max-width: 14.5%;

      -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);

      @media screen and (max-width: $break-medium) {
        margin:10px;

        -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
      }
    }

  }
}

.red {
  a {
    color: #C82828;
  }

  ::-moz-selection { background: #eebebe; }
  ::selection { background: #eebebe; }
}

.pink {
  a {
    color: rgb(224,128,147);
  }

  ::-moz-selection { background: rgba(224,128,147,0.3); }
  ::selection { background: rgba(224,128,147,0.3); }
}

.orange {
  a {
    color: rgb(255,119,0);
  }

  ::-moz-selection { background: rgba(255,119,0,0.3); }
  ::selection { background: rgba(255,119,0,0.3); }
}

.green {
  a {
    color: #53C816;
  }

  ::-moz-selection { background: #cbeeb9; }
  ::selection { background: #cbeeb9; }
}

.aqua {
  a {
    color: rgb(66,158,172);
  }
  ::-moz-selection { background: rgba(66,158,172,0.3); }
  ::selection { background: rgba(66,158,172,0.3); }
}

.blue {
  a {
    color: rgb(0,140,255);
  }

  ::-moz-selection { background: rgba(0,140,255,0.3); }
  ::selection { background: rgba(0,140,255,0.3); }
}

.purple {
  a {
    color: rgb(141,11,176);
  }

  ::-moz-selection { background: rgba(141,11,176,0.3); }
  ::selection { background: rgba(141,11,176,0.3); }
}

.youtube {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	//padding-top: 25px;
	height: 0;
  border-radius: 10px;
  overflow: hidden;

  iframe {
    position: absolute;
	  top: 0;
	  left: 0;
    width: 100%;
    height: 100%;
  }
}



.wireframes {
  background: #eee;
  padding: 30px;
  margin-bottom: 28px;
  border-radius: 10px;

  img {
    width: 100%;
    margin: 0;
  }

  p {
    position: relative;
    font-size: 0.75em;
    color: #666;
    text-align: center;
    margin:0;
    top:10px;
  }
}

.more_work {
  padding-top:30px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -20px;

  @media screen and (max-width: $break-medium) {
    margin: 5px;
    padding:5px;
  }

  h3 {
    font-size: 1.5em;
    width: 100%;
    margin: 5px 20px 20px 20px;
    letter-spacing: -0.03em;

    @media screen and (max-width: $break-medium) {
      margin: 10px 20px 20px 10px;
    }

  }

  a {
    position: relative;
    top:0;
    border-radius: 10px;
    width:50%;
    flex: 1;
    margin:0 20px;
    //background: #ccc;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    height: 250px;

    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0);
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0);

    transition: all 0.5s ease;

    @media screen and (max-width: $break-medium) {
      margin: 0 10px;
    }

    img {
      position: relative;
      display: block;
      height: 104%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      max-width: 95%;
      bottom: 10px;
    }

  }

  a:hover {
    top:-10px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);

  }

  .previous_work {
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }
}

.divider {
  margin-top:40px;
  width:100%;
  border-top: 1px solid #ccc;
}

.image-carousel {
  border-radius: 10px;
  background: #eee;
  padding-top: 20px;
  padding-bottom: 36px;
  margin-bottom: 28px;

  @media screen and (max-width: $break-medium) {
    border-radius: 0;

    .flickity-button {
      display: none;
    }
  }

  .image-cell {
    //width: 66%;
    top: 50%;
    margin: 0 20px;
    transform: perspective(1px) translateY(-50%);
    //padding-bottom: 20px;
    opacity: 0.5;
    padding-bottom: 20px;

    transition: all 0.5s ease;

  }

  img {
    display: block;
    max-height: 600px;
    max-width: 650px;
    width:auto;
    border-radius: 10px;
    object-fit: contain;

    transition: opacity 0.5s ease;

    @media screen and (max-width: $break-small) {
      max-width: 350px;
    }
  }

  .is-selected {
    opacity: 1;
  }

  .flickity-page-dots { bottom: 20px; }
}


.testimonial-carousel {
  border-radius: 10px;
  background: #eee;
  padding-top: 20px;
  padding-bottom: 36px;
  margin-bottom: 28px;

  @media screen and (max-width: $break-medium) {
    border-radius: 0;

    .flickity-button {
      display: none;
    }
  }

  .testimonial {
    width: 66%;
    padding:0 20px;
    background: #fff;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 50px;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    opacity: 0.5;

    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0);
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0);

    transition: all 0.5s ease;

    @media screen and (max-width: $break-medium) {
      width: 66%;
    }

    img {
      float:left;
      height: 50px;
      width: 50px;
      background: #ccc;
      border-radius: 100%;
      margin-right: 15px;
    }

    h4 {
      float: left;
      margin-bottom: 0;
      width: 75%;
      margin-top: -4px;

      @media screen and (max-width: $break-small) {
        margin-top:2px;
      }
    }

    h5 {
      float:left;
      color: #666;
      font-weight: 400;
      width:75%;
    }

  }
  .testimonial.is-selected {
    opacity: 1;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
  }

  .flickity-page-dots { bottom: 20px; }
}

nav {
  display: inline;
  position: relative;
  z-index: 5;
  float: right;
  top: 30px;
  right: 15px;
  font-size: 16px;

  @media screen and (max-width: $break-small) {
    width:100%;
    position: fixed;
    bottom:0;
    left:0;
    top:auto;
    right: auto;
    float:none;
    border-top: 1px #ccc solid;
    background: rgba(255,255,255,0.95);

    @supports (-webkit-backdrop-filter: blur(10px)) {
      background: rgba(255,255,255,0.6);
      -webkit-backdrop-filter: blur(10px);
    }

  }

  ul li {
    display: inline-block;
    margin:0;
    margin-right: 20px;

    @media screen and (max-width: $break-small) {
      box-sizing: border-box;
      width:33.3%;
      margin-right: 0;
      border-right: 1px #ccc solid;
    }
  }

  ul li:last-child {
    @media screen and (max-width: $break-small) {
      border-right: none;
    }
  }



  a {
    font-weight:600;
    color: #666 !important;
    text-decoration: none;

      @media screen and (max-width: $break-small) {
        display: block;
        width:100%;
        padding-top:15px;
        padding-bottom: 15px;
        text-align: center;
        vertical-align: middle;
        font-size: 14px;
}

  }

  a:hover {
    border-bottom: 2px solid #ccc;

    @media screen and (max-width: $break-small) {
      border-bottom: none;
    }
  }

  a.active {
    color: #000 !important;
    border-bottom: 2px solid #000;

    @media screen and (max-width: $break-small) {
      border-bottom: none;
      font-weight: 700;
    }

  }
}

footer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-top:1px solid #ccc;
  padding-top:50px;
  margin-top:50px;
  margin-bottom:50px;

  @media screen and (max-width: $break-medium) {
    margin-left:20px;
    margin-right: 20px;
  }

  @media screen and (max-width: $break-small) {
    margin-top:25px;
  }

  h4 {
    margin-bottom: 0;
  }

  p {
    margin: 0;
    font-size: 0.8em;
    color: #ccc;
  }

  .social {
    float:right;
    position: relative;
    bottom: 55px;

    @media screen and (max-width: $break-small) {
      height: fit-content;
      margin-left: auto;
      margin-top: 20px;
      margin-right: auto;
      width: fit-content;
      padding-left: 10px;
      float: none;
      padding-bottom: 50px;
      bottom: 0;
    }

    a {
      position: relative;
      float: left;
      height: 20px;
      width:20px;
      padding:12px;
      margin-right: 10px;
      background: #ccc;
      border-radius: 100%;
      transition: all 0.5s ease;
      top:0;

      img {
        position: relative;
        top:-1px;
      }
    }

    a:hover {
      top:-5px;

      -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    }

    .twitter {
      @media screen and (max-width: $break-small) {
        img {
          top:0;
        }
      }
    }

    .twitter:hover {
      background: #1da1f2;
    }

    .instagram:hover {
      background: #d93175;
    }

    .linkedin:hover {
      background: #0077b5;
    }
  }
}

.detail_container {
    display: flex;
    flex-flow: row wrap;
    margin: 20px -20px;

    .detail {
      width: fit-content;
      margin: 0px 20px 10px 20px;

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      h4 {
        color: #666;
        margin:0;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 0.75em;
        letter-spacing: 0.05em;
      }

      h3 {
        margin:0;
        font-weight: 600;
        margin-top:-2px;
        font-size: 1em;
        letter-spacing: -0.03em;
      }
    }

}


.text {
  width: 33.33%;
  height: 100vh;

  @media screen and (max-width: $break-small) {
    width: 100%;
    height:100%;
  }

  h1 {
    font-size: 4.5vw;
    position: relative;
    padding-top: 25px;
    padding-left:30px;
    z-index: 4;
    margin-bottom:0;
    letter-spacing: -0.03em;

    @media screen and (min-width: $break-large) {
      font-size:58px;

    }

    @media screen and (max-width: $break-small) {
      font-size: 8.5vw;
      padding-left:20px;
      padding-top:15px;

    }

  }

  h3 {
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    left:30px;
    margin-bottom: 0px;
    z-index: 4;

    @media screen and (max-width: $break-small) {
      position: relative;
      bottom:auto;
      left:auto;
      font-size: 14px;
      color: #666;
      padding-top:10px;
      padding-left:20px;
    }

  }

}


// HOMEPAGE

.pixelhome {
  width: 66.66%;
  height: 100vh;
  position: absolute;
  left:33.33%;
  top:0;
  overflow: hidden;
  //background-color: #ccc;
  z-index: 1;

  @media screen and (max-aspect-ratio: 4/5)  // portrait devices
  {
    width:100%;
    left:0%;
  }

  img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-40%);

    @media screen and (max-width: $break-small) {
      transform: translateY(-30%);
    }
  }

  .pixelhomeimg {
    transform:translateY(-45%);
    -webkit-animation: float 2s infinite ease-in-out alternate;

    @media screen and (max-width: $break-small) {
      transform: translateY(-35%);
      -webkit-animation: float-mobile 2s infinite ease-in-out alternate;
    }

  }
}



@-webkit-keyframes float {
  from {
      -webkit-transform: translateY(-43%);
  }
  to {
      -webkit-transform: translateY(-46%);
  }
}

@-webkit-keyframes float-mobile {
  from {
      -webkit-transform: translateY(-33%);
  }
  to {
      -webkit-transform: translateY(-36%);
  }
}

// PORTFOLIO

.portfolio-header {

  @media screen and (max-width: $break-medium) {
      margin-left:20px;
      margin-right:20px;
    }
}

.products {
  display: flex;
  flex-flow: row wrap;
  margin: -20px;
  margin-top:20px;

  @media screen and (max-width: $break-medium) {
    margin:5px;
    padding:5px;
  }

  @media screen and (max-width: $break-small) {
    flex-flow: column wrap;
  }


   a {
    flex: 1 1 43.336%;
    margin: 20px;
    text-decoration: none;

    @media screen and (max-width: $break-medium) {
      margin:10px;
    }

    h3 {
      display: inline-block;
      font-size:28px;
      color: #000;
      font-weight: 700;
      margin-bottom: 0;
      margin-top:10px;
      line-height: 1.2;
      letter-spacing: -0.03em;


      @media screen and (max-width: $break-medium) {
        font-size: 20px;
        //letter-spacing: 0px;
      }

    }

    .product-description {
      font-size: 18px;
      color: #666;
      font-weight: 400;

      @media screen and (max-width: $break-medium) {
        font-size: 16px;
      }
    }

  }

  .thumbnail {
    position: relative;
    width: 100%;
    height: 250px;
    background: #ccc;
    border-radius: 10px;
    top:0;

    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0);
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0);

    transition: all 0.5s ease;

    img {
      position: relative;
      display: block;
      height: 104%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      max-width: 95%;
      bottom: 10px;
    }
  }

  .play {
    background: rgb(230,227,227);
    background: linear-gradient(45deg, rgba(230,227,227,1) 0%, rgba(255,255,255,1) 100%);

    img {
      width:250px !important;
      height: auto !important;
      bottom:-65px !important;
    }
  }

  .totem {
    background: rgb(255,119,0);
    background: linear-gradient(120deg, rgba(255,119,0,1) 0%, rgba(252,202,4,1) 100%);

    img {
      left:-20px !important;
    }
  }

  .aloebud {
    background: rgb(169,230,228);
    background: linear-gradient(120deg, rgba(169,230,228,1) 0%, rgba(83,205,200,1) 69%, rgba(66,158,172,1) 100%);


    img {
      width: 110px !important;
      height: auto !important;
      bottom:-65px !important;
    }
  }

  .bupaboost {
    background: rgb(0,122,203);
    background: linear-gradient(120deg, rgba(0,122,203,1) 0%, rgba(4,184,252,1) 100%);

    img {
      height: 90% !important;
      top:25px !important;
    }
  }

  .digitalfitness {
    background: rgb(185,28,0);
    background: linear-gradient(120deg, rgba(185,28,0,1) 0%, rgba(227,51,20,1) 100%);
  }

  .assethunt {
    background: rgb(0,140,255);
    background: linear-gradient(120deg, rgba(0,140,255,1) 0%, rgba(4,212,252,1) 100%);

    img {
      height: 90% !important;
      top:25px !important;
    }

    a {
      color: rgb(0,140,255);
    }
  }

  .popjam {
    background: rgb(36,0,66);
    background: linear-gradient(120deg, rgba(36,0,66,1) 0%, rgba(141,11,176,1) 100%);
  }

  .femsplain {
    background: rgb(255,204,223);
    background: linear-gradient(120deg, rgba(255,204,223,1) 0%, rgba(224,128,147,1) 100%);

    img {
      width: 80% !important;
      max-width: 350px;
      height: auto !important;
      bottom: -105px;
    }
  }

  .moshi {
    background: rgb(132,183,219);
    background: linear-gradient(180deg, rgba(132,183,219,1) 0%, rgba(218,245,255,1) 100%);
  }

  .lasuni {
    background: rgb(163,231,0);
    background: linear-gradient(120deg, rgba(163,231,0,1) 0%, rgba(83,200,22,1) 100%);

    img {
      height: 100%;
    }
  }

  a:hover {
    .thumbnail {
      top:-10px;
      -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
      }

    h3 {
      border-bottom: 2px solid #ccc;
      margin-bottom:-2px;
    }
  }

}

.product_banner {
  margin: 0;
  margin-bottom:20px;

  @media screen and (max-width: $break-medium) {
    margin:10px;
    padding:10px;
  }

  @media screen and (max-width: $break-small) {
    flex-flow: column wrap;
  }

}

.product_header {
  @media screen and (max-width: $break-medium) {
    padding:0 20px;
    //margin-top: -20px;
    //padding-bottom: 0;
    margin-bottom:-15px;
  }

}



.more {
  display: block;
  background: #eee;
  border-radius: 10px;
  padding:15px 20px 15px 20px;
  margin-top:60px;
  //margin-bottom:50px;
  text-decoration: none;

  @media screen and (max-width: $break-medium) {
    margin-left:20px;
    margin-right:20px;
    margin-top:0px;
  }

  h3 {
    margin-bottom: 0;
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom:0;
    color: #000;


    @media screen and (max-width: $break-medium) {
      font-size: 20px;
    }
  }

  .description {
    text-align: center;
    color: #666;
    font-size: 18px;

    @media screen and (max-width: $break-medium) {
      font-size: 16px;
    }
  }
}

.more:hover {
  background: #dddddd;
}

.play {
  background: rgb(230,227,227);
  background: linear-gradient(45deg, rgba(230,227,227,1) 0%, rgba(255,255,255,1) 100%);

  img {
    width:250px !important;
    height: auto !important;
    bottom:-65px !important;
  }
}

.totem {
  background: rgb(255,119,0);
  background: linear-gradient(120deg, rgba(255,119,0,1) 0%, rgba(252,202,4,1) 100%);

  img {
    left:-20px !important;
  }
}

.aloebud {
  background: rgb(169,230,228);
  background: linear-gradient(120deg, rgba(169,230,228,1) 0%, rgba(83,205,200,1) 69%, rgba(66,158,172,1) 100%);


  img {
    width: 110px !important;
    height: auto !important;
    bottom:-65px !important;
  }
}

.bupaboost {
  background: rgb(0,122,203);
  background: linear-gradient(120deg, rgba(0,122,203,1) 0%, rgba(4,184,252,1) 100%);

  img {
    height: 90% !important;
    top:25px !important;
  }
}

.digitalfitness {
  background: rgb(185,28,0);
  background: linear-gradient(120deg, rgba(185,28,0,1) 0%, rgba(227,51,20,1) 100%);
}

.assethunt {
  background: rgb(0,140,255);
  background: linear-gradient(120deg, rgba(0,140,255,1) 0%, rgba(4,212,252,1) 100%);

  img {
    height: 90% !important;
    top:25px !important;
  }
}

.popjam {
  background: rgb(36,0,66);
  background: linear-gradient(120deg, rgba(36,0,66,1) 0%, rgba(141,11,176,1) 100%);
}

.femsplain {
  background: rgb(255,204,223);
  background: linear-gradient(120deg, rgba(255,204,223,1) 0%, rgba(224,128,147,1) 100%);

  img {
    width: 80% !important;
    max-width: 350px;
    height: auto !important;
    bottom: -105px;
  }
}

.moshi {
  background: rgb(132,183,219);
  background: linear-gradient(180deg, rgba(132,183,219,1) 0%, rgba(218,245,255,1) 100%);
}

.lasuni {
  background: rgb(163,231,0);
  background: linear-gradient(120deg, rgba(163,231,0,1) 0%, rgba(83,200,22,1) 100%);

  img {
    height: 100%;
  }
}

.all {
  background: linear-gradient(320deg, #e81d1d, #e8ce1d, #26e70d, #1ddde8, #2b1de8, #dd00f3, #e81d1d);
  background-size: 1400% 1400%;

  -webkit-animation: rainbow 30s linear infinite;
  -moz-animation: rainbow 30s linear infinite;
  animation: rainbow 30s linear infinite;

  h3 {
    position: relative;
    font-size: 2em;
    color: #fff;
    margin-left:auto;
    margin-right:auto;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    margin: 0;
  }
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@keyframes rainbow {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
