---
---

$font-stack: 'Open Sans', 'Apple Color Emoji', Sans-Serif;
$primary-color: #333;
$break-small: 320px;
$break-large: 1200px;

html, body,
blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
  font-family: $font-stack;
  color: #000;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  font-weight: 700;
}

.home_container {
  position: relative;
  max-width: $break-large;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: inline;
  position: relative;
  z-index: 5;
  float: right;
  top: 25px;
  right: 15px;

  ul li {
    display: inline;
    margin-right: 20px;
  }

  a {
    font-weight:600;
    color: #666;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.text {
  width: 33.33%;
  height: 100vh;

  h1 {
    font-size: 4.5vw;
    position: relative;
    top: 25px;
    left: 30px;

    @media screen and (min-width: $break-large) {
      font-size:58px;
    }

  }

  h3 {
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    left:30px;
    margin-bottom: 0px;
    z-index: 4;
  }

}

.pixelhome {
  width: 66.66%;
  height: 100vh;
  position: absolute;
  left:33.33%;
  top:0;
  overflow: hidden;
  //background-color: #ccc;
  z-index: 1;

  img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-40%);
  }

  .pixelhomeimg {
    transform:translateY(-45%);
    -webkit-animation: float 2s infinite ease-in-out alternate;
  }

}

@-webkit-keyframes float {
  from {
      -webkit-transform: translateY(-43%);
  }
  to {
      -webkit-transform: translateY(-46%);
  }
}
