<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="nav-left">
				<img src="home.png" alt="Home" />
				<h2>David Stribling</h2>
			</div>
			{% include nav.html %}

			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:d@saii.co.uk">email</a></li>
	        		<li><a href="https://twitter.com/dasaii">@Dasaii</a></li>
				</ul>
			</footer>
		</body>
	</html>
