<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" href="/css/flickity.min.css" media="screen">

			<!-- Google tag (gtag.js) -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-FEV394J8EC"></script>
			<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-FEV394J8EC');
			</script>

			<title>David Stribling - {{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

			<link rel="icon" sizes="192x192" href="../hires-favicon.png">
			<link rel="icon" href="/favicon.ico" type="image/x-icon">
			<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		</head>
		<body>

			{{ content }}

			<script src="/js/flickity.pkgd.min.js"></script>
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">
		</body>
	</html>
