---
layout: product
---

<div class="product_header">
<h1>{{ page.title }}</h1>
<div class="detail_container">
{% if page.year %}
<div class="detail">
  <h4>Year</h4>
  <h3 class="meta">{{ page.year }}</h3>
</div>
{% endif %}
{% if page.client %}
<div class="detail">
  <h4>Client</h4>
  <h3 class="meta">{{ page.client }}</h3>
</div>
{% endif %}
{% if page.role %}
<div class="detail">
  <h4>Role</h4>
  <h3 class="meta">{{ page.role }}</h3>
</div>
{% endif %}
{% if page.websitetitle %}
<div class="detail {{ page.accent_colour }}">
  <h4>Find out more</h4>
  <a href="{{ page.websiteurl }}" target="_blank"><h3 class="meta">{{ page.websitetitle }}</h3></a>
</div>
{% endif %}
</div>
</div>

<div class="products product_banner">
      <div class="thumbnail {{ page.css }}">
        <img src="{{ page.thumbnail }}" alt="{{ page.title }}" />
      </div>
</div>

{{ content }}
<div class="divider"></div>
<div class="more_work">
  <h3>More products I've worked on</h3>
  {% if page.next.url %}
    <a class="{{ page.next.css }}" href="{{page.next.url}}"> <img src="{{ page.next.thumbnail }}" alt="{{ page.next.title }}" /> </a>
  {% else %}
    <a class="all" href="/portfolio/"><h3>All work ✨</h3></a>
  {% endif %}
  {% if page.previous.url %}
    <a class="previous_work {{ page.previous.css }}" href="{{page.previous.url}}"><img src="{{ page.previous.thumbnail }}" alt="{{ page.previous.title }}" /></a>
  {% else %}
    <a class="previous_work all" href="/portfolio/"><h3>All work ✨</h3></a>
  {% endif %}
</div>
