---
layout: default
---
<div class="home_container {{ page.accent_colour }}">
  <div class="nav_container">
    <a href="/" class="nav-left">
      <img src="../images/home.png" alt="Home" />
      <h2>David Stribling</h2>
    </a>
  {% include nav.html %}
  </div>

  <div class="content_container">

  {{ content }}

  </div><!-- /.container -->


  <footer>
    <h4>That's all folks 🌈</h4>
    <p>© David Stribling 2018</p>
    <div class="social">
      <a href="https://twitter.com/dasaii" alt="Twitter" class="twitter" target="_blank"><img src="/images/social/twitter.svg" /></a>
      <a href="https://instagram.com/dasaii" alt="Instagram" class="instagram" target="_blank"><img src="/images/social/instagram.svg" /></a>
      <a href="https://www.linkedin.com/in/david-stribling-35b04830/" class="linkedin" alt="LinkedIn" target="_blank"><img src="/images/social/linkedin.svg" /></a>
    </div>
  </footer>

</div>
